<!-- <h1>Users</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 30%">Last Name</th>
            <th style="width: 30%">Username</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table> -->


<div class="container-fluid mt-5">

  <div class="limiter col-md-12">
    <div class="container-table100">


      <div class="row w-100 pb-3">
        <div class="col-md-9 w-100 text-center">
          <h1 > Danh sách sản phẩm</h1>
          <button routerLink="add">oke</button>
        </div>
        <div class="col-md-3">

          <input class="form-control form-control-lg form-control-borderless"  type="search" placeholder="Nhập để tìm kiếm">

        </div>
      </div>
      <div class="wrap-table100">
        <div class="table100 ver4 ">
          <div class="table100-head">
            <table>
              <thead >
                <tr class="row100 head">
                  <th class="cell100 column1">Tên tài khoản</th>
                  <th class="cell100 column2">Email</th>
                  <th class="cell100 column3">Điện thoại</th>
                  <th class="cell100 column4">Địa chỉ</th>
                  <th class="cell100 column5">Quản lý</th>
                  <!-- <th class="cell100 column6">Hình ảnh</th>
                  <th class="cell100 column7"></th> -->
                </tr>
              </thead>
            </table>
          </div>

          <div class="table100-body js-pscroll">
            <table class="table table-hover">
              <tbody>
                <tr class="row100 body" >
                  <td class="cell100 column1"></td>
                  <td class="cell100 column2"></td>
                  <td class="cell100 column3"></td>
                  <td class="cell100 column4"></td>
                  <!-- <td class="cell100 column5"></td> -->
                  <!-- <td class="cell100 column5"></td>

                  <td class="cell100 column6">
                    <div id="carousel-simple" class="carousel slide" data-ride="carousel" style="width: 100%;">
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-simple" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-simple" data-slide-to="1"></li>
                        <li data-target="#carousel-simple" data-slide-to="2"></li>
                        <li data-target="#carousel-simple" data-slide-to="3"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img
                            src=""
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src=""
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src=""
                            alt="" class="d-block w-100" />
                        </div>
                        <div class="item">
                          <img
                            src=""
                            alt="" class="d-block w-100" />
                        </div>
                      </div>
                    </div>
                  </td> -->

                  <td class="cell100 column5" id="edit">
                    <button class="custom-btn btn-3 mb-5 mt-3" >
                      <span><i class="fas fa-edit"></i> Khóa</span>
                    </button>
                    <button class="custom-btn btn-2 mb-5" >
                      <span><i class="fas fa-times"></i> Xóa</span>
                    </button>
                    <!-- <button class="custom-btn btn-1">
                      <span><i class="fas fa-clock"></i> Gia hạn</span>
                    </button> -->
                  </td>
                </tr>


              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

