
<div class="container-fluid" >
  <!-- <div class="col-md-1"></div> -->
  <div class="row" *ngIf="!isShowFormUser">
    <div class="col-md-12" >
        <div class="row pb-2 mb-2"style="margin-left: 5px;margin-right: 25px;">
          <div class="col-3 tittle-home justify-content-center">
            Thông tin cá nhân
          </div>
          <div class="col-9 tittle-right"></div>
          <hr />
        </div>
        <div class="row ml-1" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:flex;flex-wrap: wrap;">
          <div class="col-md-12" style="display: flex;flex-direction: column;" >
            <div class="row" style="margin-right: 25px;">
              <div class="col-md-12 col-sm-6 pt-4 pb-2" id="manager" >
                <table class="table table-bordered" >
                  <tr>
                    <th scope="row">Họ và tên:</th>
                    <td>Anh Tân ML</td>
                    <td class="anhdd" rowspan="6" colspan="1" >
                      <img src="https://avatars2.githubusercontent.com/u/57336636?s=400&u=a61b8d32cf4043b444d8f18487e59a68edfe445f&v=4" alt="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Mật khẩu:</th>
                    <td>********</td>
                  </tr>
                  <tr>
                    <th>Điện thoại:</th>
                    <td>1900100cos</td>
                  </tr>
                  <tr>
                    <th>Email:</th>
                    <td>tanml@gmail.com</td>
                  </tr>
                  <tr>
                    <th> Ngày lập:</th>
                    <td>07/12/2020</td>
                  </tr>
                  <tr>
                    <th scope="row">Địa chỉ:</th>
                    <td colspan="3">
                      Lào Cai
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    <i style="font-size: 13px; font-weight: 100;"> *Cung cấp địa chỉ sẽ giúp thuận tiện mua bán. Cập nhật địa chỉ ngay khi bạn chuyển đến địa chỉ mới*</i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div style="min-height: 22px;" class="div"><a (click)="isShowFormUser = true"  ><i class="fas fa-edit">Chỉnh sửa</i></a></div>
                      <p>*Điều chỉnh thông tin cá nhân*</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>

          </div>

        </div>
    </div>
  </div>
      <!-- form sua tt  -->
  <div class="row" *ngIf="isShowFormUser">
    <div class="col-md-12">
      <div class="row pb-1 mb-1" style="margin-left: 5px;margin-right: 18px;" >
        <div class="col-3 tittle-home justify-content-center">
          Chỉnh sửa thông tin
        </div>
        <div class="col-9 tittle-right" ></div>
        <hr />
      </div>

      <div class="row" >
        <div class="col-md-12 ml-1">
          <div class="container-login100">
            <div class="wrap-login100  p-r-50  p-b-30  ">
              <form class="login100-form validate-form pr-5">
                <span class="login100-form-title p-b-20 ml-5 mt-5" style="font-family: sans-serif">
                </span>
                <div class="row">
                  <div class="col-md-6">
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                      data-validate="Không được bỏ trống">
                    <label for="hoVaTen" >Họ và tên</label>
                      <input class="input100" type="text" name="hoVaTen" id="hoVaTen" required >
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-users"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;"
                      data-validate="Password is required">
                    <label >Mật khẩu</label>
                      <input class="input100" type="password" name="pass" required >
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 95%;">
                      <label>Hình ảnh</label>
                      <input type="file" name="upload" id="upload" required  placeholder="Hình ảnh" multiple />
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                      data-validate="Không được bỏ trống">
                    <label for="">Điện thoại</label>
                      <input class="input100" type="text" name="dienthoai" required >
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-phone"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                      data-validate="Valid email is required: ex@abc.xyz">
                    <label for="">Email</label>
                      <input class="input100" type="text" name="email" required >
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                      </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18 ml-5" style="width: 97%;"
                      data-validate="Password is required">
                    <label for="">Địa chỉ</label>
                      <input class="input100" type="text" name="diachi" required >
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                        <span class="lnr lnr-map"></span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-3">
                    <div class="container-login100-form-btn p-t-22 ml-4">
                      <button class="login100-form-btn" type="submit"  >
                        hoàn thành
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <!-- form sua tt  -->

  <!-- <div class="col-md-1"></div> -->
</div>


