<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user" style="color: white;">
  <div class="col-10">xin chào Nguyễn Văn Tân </div>
  <div class="col-2">-------- menu</div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">

  <div class="row">
    <nav class="d-md-block bg-light sidebar" *ngIf="user">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="fas fa-home"></i> Trang chủ
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLinkActiveOptions]="{exact: true}" routerLink="/users"
              routerLinkActive="active">
              <i class="fas fa-user"></i> Quản lý người dùng
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/demo" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
              <i class="fas fa-user"></i> Quản lý sản phẩm
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Đăng xuất
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="col-9" *ngIf="user" >
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <div class="col-12" *ngIf="!user" >
      <alert></alert>
      <router-outlet></router-outlet>
    </div>

  </div>


  <!-- <nav class="col-3 d-md-block bg-light sidebar" *ngIf="user">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-home"></i> Trang chủ
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " [routerLinkActiveOptions]="{exact: true}" routerLink="/users"
            routerLinkActive="active">
            <i class="fas fa-user"></i> Quản lý người dùng
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " routerLink="/demo" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
            <i class="fas fa-user"></i> Quản lý sản phẩm
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <alert></alert>
  <router-outlet></router-outlet> -->

</div>

<!-- credits -->
<div class="text-center mt-4">

  <h1>Footer !!!</h1>
  <p>THích thì làm </p>
</div>
